<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invetory Application</title>
</head>
<body>

    <form action="/" method="post">

    <label for="product_type">Type</label>
    <input type="text" id="product_type" name="product_type">

    <button type="submit">Submit</button>

    </form>
    
    <h1>Product Types</h1>

    <% if (typeof types !== 'undefined' && types.length > 0) { %>
        <ul>
            <% types.forEach(type => { %>
                <li><%= type %></li>
            <% }) %>
        </ul>
    <% } %>

</body>
</html>